<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Anisette URL</string>
			<key>Key</key>
			<string>customAnisetteURL</string>
			<key>DefaultValue</key>
			<string>https://sideloadly.io/anisette/irGb3Quww8zrhgqnzmrx</string>
		</dict>
	</array>
</dict>
</plist>
