<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.$(APP_GROUP_IDENTIFIER)</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Anisette Server</string>
			<key>Key</key>
			<string>customAnisetteURL</string>
			<key>DefaultValue</key>
			<string>http://ani.sidestore.io</string>
			<key>Titles</key>
			<array>
				<string>SideStore</string>
				<string>Macley (US)</string>
				<string>Macley (DE)</string>
				<string>DrPudding</string>
				<string>jkcoxson (AltServer)</string>
				<string>jkcoxson (Provision)</string>
				<string>Sideloadly</string>
				<string>Nick</string>
				<string>Jawshoeadan</string>
				<string>crystall1nedev</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://ani.sidestore.io</string>
				<string>http://us1.sternserv.tech</string>
				<string>http://de1.sternserv.tech</string>
				<string>https://sign.rheaa.xyz</string>
				<string>http://jkcoxson.com:2095</string>
				<string>http://jkcoxson.com:2052</string>
				<string>https://sideloadly.io/anisette/irGb3Quww8zrhgqnzmrx</string>
				<string>http://45.33.29.114</string>
				<string>https://anisette.jawshoeadan.me</string>
				<string>https://anisette.crystall1ne.software/</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Danger Zone</string>
			<key>FooterText</key>
			<string>If you disable the toggle then app will use the server you input into the &quot;Anisette URL&quot; box rather than one selected from the above selector.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use preferred servers</string>
			<key>Key</key>
			<string>textServer</string>
			<key>DefaultValue</key>
			<true/>
			<key>FooterText</key>
			<string>chicken</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Anisette URL</string>
			<key>Key</key>
			<string>textInputAnisetteURL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
	</array>
</dict>
</plist>
