<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modern</key>
	<array>
		<dict>
			<key>name</key>
			<string>AltStore</string>
			<key>imageName</key>
			<string>AppIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Evil AltStore</string>
			<key>imageName</key>
			<string>Evil</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sun</string>
			<key>imageName</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ocean</string>
			<key>imageName</key>
			<string>Ocean</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delta</string>
			<key>imageName</key>
			<string>Delta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clip</string>
			<key>imageName</key>
			<string>Clip</string>
		</dict>
	</array>
	<key>gradient</key>
	<array>
		<dict>
			<key>name</key>
			<string>Beach</string>
			<key>imageName</key>
			<string>Beach</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cotton Candy</string>
			<key>imageName</key>
			<string>Cotton Candy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky</string>
			<key>imageName</key>
			<string>Sky</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sunset</string>
			<key>imageName</key>
			<string>Sunset</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Watermelon</string>
			<key>imageName</key>
			<string>Watermelon</string>
		</dict>
	</array>
	<key>recessed</key>
	<array>
		<dict>
			<key>name</key>
			<string>EU</string>
			<key>imageName</key>
			<string>EU</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inverted</string>
			<key>imageName</key>
			<string>Inverted</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lava</string>
			<key>imageName</key>
			<string>Lava</string>
		</dict>
	</array>
	<key>classic</key>
	<array>
		<dict>
			<key>name</key>
			<string>Original</string>
			<key>imageName</key>
			<string>Original</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flag</string>
			<key>imageName</key>
			<string>Flag</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prototype</string>
			<key>imageName</key>
			<string>Prototype</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inverted Prototype</string>
			<key>imageName</key>
			<string>Inverted Prototype</string>
		</dict>
	</array>
</dict>
</plist>
