<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Riley Testut. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>ALTPluginService</string>
	<key>Supported10.14PluginCompatibilityUUIDs</key>
	<array>
		<string># UUIDs for versions from 10.12 to 99.99.99</string>
		<string># For mail version 10.0 (3226) on OS X Version 10.12 (build 16A319)</string>
		<string>36CCB8BB-2207-455E-89BC-B9D6E47ABB5B</string>
		<string># For mail version 10.1 (3251) on OS X Version 10.12.1 (build 16B2553a)</string>
		<string>9054AFD9-2607-489E-8E63-8B09A749BC61</string>
		<string># For mail version 10.2 (3259) on OS X Version 10.12.2 (build 16D12b)</string>
		<string>1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E</string>
		<string># For mail version 10.3 (3273) on OS X Version 10.12.4 (build 16G1036)</string>
		<string>21560BD9-A3CC-482E-9B99-95B7BF61EDC1</string>
		<string># For mail version 11.0 (3441.0.1) on OS X Version 10.13 (build 17A315i)</string>
		<string>C86CD990-4660-4E36-8CDA-7454DEB2E199</string>
		<string># For mail version 12.0 (3445.100.39) on OS X Version 10.14.1 (build 18B45d)</string>
		<string>A4343FAF-AE18-40D0-8A16-DFAE481AF9C1</string>
		<string># For mail version 13.0 (3594.4.2) on OS X Version 10.15 (build 19A558d)</string>
		<string>6EEA38FB-1A0B-469B-BB35-4C2E0EEA9053</string>
	</array>
	<key>Supported10.15PluginCompatibilityUUIDs</key>
	<array>
		<string># UUIDs for versions from 10.12 to 99.99.99</string>
		<string># For mail version 10.0 (3226) on OS X Version 10.12 (build 16A319)</string>
		<string>36CCB8BB-2207-455E-89BC-B9D6E47ABB5B</string>
		<string># For mail version 10.1 (3251) on OS X Version 10.12.1 (build 16B2553a)</string>
		<string>9054AFD9-2607-489E-8E63-8B09A749BC61</string>
		<string># For mail version 10.2 (3259) on OS X Version 10.12.2 (build 16D12b)</string>
		<string>1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E</string>
		<string># For mail version 10.3 (3273) on OS X Version 10.12.4 (build 16G1036)</string>
		<string>21560BD9-A3CC-482E-9B99-95B7BF61EDC1</string>
		<string># For mail version 11.0 (3441.0.1) on OS X Version 10.13 (build 17A315i)</string>
		<string>C86CD990-4660-4E36-8CDA-7454DEB2E199</string>
		<string># For mail version 12.0 (3445.100.39) on OS X Version 10.14.1 (build 18B45d)</string>
		<string>A4343FAF-AE18-40D0-8A16-DFAE481AF9C1</string>
		<string># For mail version 13.0 (3594.4.2) on OS X Version 10.15 (build 19A558d)</string>
		<string>6EEA38FB-1A0B-469B-BB35-4C2E0EEA9053</string>
	</array>
	<key>Supported11.0PluginCompatibilityUUIDs</key>
	<array>
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
</dict>
</plist>
